<section>
    <article>
        <div class="data-form">
      <form action="/announcements/create" method="POST">
        <h2>Add Event:</h2>
        <label for="inputTitle">Title</label>
        <input
          type="text"
          name="title"
          id="inputTitle"
          placeholder="Title"
          required
          autofocus
        />
        <label for="inputDescription">Description</label>
        <input
          type="text"
          name="description"
          id="inputDescription"
          placeholder="Description"
          required
          autofocus
        />
        
          
        <button type="submit">Post</button>
      </form>
      
    </div>
    
        
    </article>
  </section>
  