<secton>
    
       
    <article>
        <h1>Welcome members and waitlist applicants</h1>
        <p>Accounts are for members and those who have a pending membership application.</p>
   <hr>
      <form action="/users/login" method="POST">
        <h2>Login:</h2>
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email address"
        required>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword"
        placeholder="Password" required>
        <button type="submit">Login</button>
      </form>
  
    </article>
  </secton>
  