<link rel="stylesheet" href="/css/style.css" />
<section>
    
    <article>
        <h1>Contact Information</h1>

        <p>For more information, feel free to email with questions!</p>

        <p>swimclubinfo@gmail.com</p>

        <p>Or drop in person during pool hours:</p>

        <p>135 Main Street, Leeds, MA 01053</p>
        





    </article>
    

</section>




