<section>
    <article>
      <h1>Logged in as: <%= user.fullName %>
      <a href="/users/logout"><button class="button-3" role="button">Logout</button></a></h1>
  
       
      
  
    </article>
  </section>
  