<Section>
    <article>
        <h1>Thank you for your application!</h1>
        <p>It may be a while until we see you at the pool, but login to keep track of and update your application.</p>
        
        <a href="<%=`/users/login`%>"><button>Login</button></a>
    </article>
</Section>